#svg {
	border-radius: 5px;
}

text {
	font-family: "Segoe UI", Ubuntu, sans-serif;
	fill: var(--text-color);
}

.background {
	fill: var(--bg-color);
}

.header {
	font-size: 18px;
	font-weight: bold;
	fill: var(--header-color);
}

.text {
	font-size: 14px;
}

.title {
	font-size: 16px;
	font-weight: bold;
}

.scroll-left text {
	line-height: 50px;
	text-align: center;
	transform: translateX(50%);
	/* Apply animation to this element */
	animation: scroll-left 15s linear infinite;
}

@keyframes scroll-left {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(-100%);
	}
}
